

/* Header*/
.heading {
  background-color: rgb(255, 193, 77);
  text-align: center;
}

/*updater*/
.updated {
  float: right;
  text-emphasis: none;
  font-size: x-small;
}

/*Train Info Table*/
.traininfo {
  background-color: rgb(255, 188, 188);
  text-indent: 7px;
  border-style: solid;
  border-radius: 2px;
  padding-bottom: 1px;
}


/*table settings*/
.traintable {
  width: 99.5%;
  padding: 3px;
  margin: 3px;
  margin: rgb(255, 188, 188);
  background-color: whitesmoke;
}

/*New Train Form*/
.newtrain {
  background-color: rgb(195, 196, 255);
  text-indent: 8px;
  border-style: solid;
  border-radius: 2px;
  padding-bottom: 1px;
}

/*Form settings*/
.trainform {
  padding: 3px;
  margin: 3px;
  margin:  rgb(195, 196, 255);
  background-color: whitesmoke;
}

.inputfield {
  text-indent: 10px;
}